<%= @game.opponent.name  %> attacked <%= @game.attacking_player.name %><br>
<!--  <%= @game.attacking_player.name %> score: <%= @game.attacking_player.hit_points  %> <br> -->

<form action="/play" >
<button type="submit" value="Ok"> Ok</button>
</form>
